.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
data/log/
data/gen_sql/
data/session/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
main
.vscode
*.exe
tmp/*
public/admin
data/dataBak
docker/bao/public/*
docker/*.zip
docker/bao/server
/server
/docker/bao/emqx/data/